/* #region 过渡动效样式 */
.fadeIn {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: fadeIn;
}

.fadeOut {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: fadeOut;
}

.zoomIn {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: zoomIn;
}

.zoomOut {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: zoomOut;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomOut {
  from {
    opacity: 1;
  }

  50% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  to {
    opacity: 0;
  }
}
/* #endregion */

/* #region 围绕圆心持续旋转 */
.spin {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* #endregion */
